<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/blackjasck.js"></script>

<h2>BlackJack</h2>

<div class="container">
    <input type="hidden" id="name" />
    <ul id="listName" class="col-md-6"></ul>
</div>

