@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a id="s" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="container">
        <input type="hidden" id="name" />
        <ul id="listName" class="col-md-6"></ul>
        <input type="button" id="send" value="Invia" />
    </div>
</div>