<h1>BlackJack Online</h1>
<input type="hidden" id="name" />
<div style="height:65%" class="row">
    <div style="background-color:darkseagreen" class="col-md-12">
        <div class="col-md-6">
            <ul id="playerCards"></ul>
        </div>
    </div>
</div>
<div style="height:30%" class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <input type="button" id="send" value="Invia" />
    </div>
    <div class="col-md-3">
        <ul id="listName" class="col-md-6"></ul>
    </div>
</div>