@{
    ViewBag.Title = "Home Page";
}

<h1>BlackJack Online</h1>
<div class="row">
    <div class="container">
        <input type="hidden" id="name" />
        <ul id="listName" class="col-md-6"></ul>
        <ul id="listCards" class="col-md-6"></ul>
        <input type="button" id="send" value="Invia" />
        
    </div>
</div>